@model Web.Models.SettingsVM.SettingsViewModel;
@{
    ViewData["Title"] = "Size List";
    string currentLanguage = ViewContext.RouteData.Values["lang"].ToString();
}
    <div class="page-body">
    <div class="container mt-5">
        <h2>Manage Sizes</h2>

        <!-- Button to open "Add New Size" modal -->
        <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addSizeModal">Add New Size</button>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SizeNr</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Size in Model?.Sizes)
                {
                    <tr>
                        <td><b>@Size.SizeNr </b> </td>
                        <td><button class="btn btn-primary editSizeBtn" data-id="@Size.Id" data-sizenr="@Size.SizeNr">Edit</button> </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    </div>

<!-- Add Size Modal -->
<div class="modal fade" id="addSizeModal" tabindex="-1" aria-labelledby="addSizeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSizeModalLabel">Add New Size</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="CreatSizeForm" action="/@currentLanguage/Product/CreateSize">
                    <div class="mb-3">
                        <label for="SizeName" class="form-label">Size Name</label>
                        <input type="text" class="form-control" id="SizeName" name="SizeNr" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addSizeBtn">Add Size</button>
            </div>
        </div>
    </div>
</div>
@* //update size *@

<!-- Edit Modal -->
<div class="modal fade" id="editSizeModal" tabindex="-1" aria-labelledby="editSizeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCategoryModalLabel">Edit SizeNr</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSizeForm">
                    <input type="hidden" id="sizeId" name="Id" value="" />
                    <div>
                        <label for="categoryName">Size nr</label>
                        <input type="text" class="form-control" id="sizeNr" name="SizeNr" value="" />
                    </div>
                    <!-- Other fields as needed for your model -->
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="saveSizeBtn" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/settingsscripts/settings.js"></script>

}
