@model Web.Models.FailOrderVM;


<div class="page-body" style="margin:0 !important">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row mt-5">
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">

        <div class="container my-5">
            <div class="card shadow">
                <div class="card-header bg-danger text-white">
                    <h5 class="card-title mb-0">Order Details</h5>
                </div>
                <div class="card-body">
                  <h1>Pagesa juaj ka deshtuar!!</h1>
                    <h5>@Model.ErrorDescription</h5>
                </div>
            </div>
        </div>



    </div>
</div>
