@model Web.Models.LanguageListViewModel
@{
    string currentLink = Context.Request.Path.ToString().Substring(3) + Context.Request.QueryString;
}
@{
    var currentLanguage = Model.CurrentLanguage;
    var sharedRes = (Dictionary<string, string>)ViewData["Shared"];
    try
    {
        currentLanguage = ViewContext.RouteData.Values["lang"].ToString();

    }
    catch { }
}

@if (Model.list.Count > 0)
{

    <li class="onhover-dropdown">
        <div class="bookmark-box">
            @if (@currentLanguage == "hr")
            {
                <i class="flag-icon flag-icon-hr">
                </i>
            }else
            {
                <i class="flag-icon flag-icon-us"></i>
            }
            @* <i class="icofont icofont-globe"></i> @currentLanguage *@
        </div>

        <div class="bookmark-dropdown onhover-show-div">
            <ul class="m-t-5">
                @foreach (var item in Model.list)
                {
                    if (item.Code == "en")
                    {
                        <li class="add-to-bookmark">
                            <a class="dropdown-item menubackgroundcolor" href="/@item.Code/@currentLink">
                                <i class="flag-icon flag-icon-us"></i>
                                @item.Code
                            </a>

                        </li>

                    }
                    else
                    {
                        <li class="add-to-bookmark">
                            <a class="dropdown-item menubackgroundcolor" href="/@item.Code@currentLink">
                                @if (item.Code == "hr")
                                {
                                    <i class="flag-icon flag-icon-hr">
                                    </i>
                                    @item.Code
                                }
                            
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </li>
}

